In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import time
import os

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
path = r'D:\РЭШ\Research\PostThesis\data'
path_bankdata = path+r'\bankdata'

# 1. Обработка данных в переменные

Данные отсутствуют за 2021-12, ..., 2023-03.<br><br>
Так как форма менялась в июне 2021 и в марте 2019, то создаём 3 функции: <br> 
    1) до марта 2019 ```df_var_to201812```, <br>
    2) с марта 2019 до июня 2021 ```df_var_201903```, <br> 
    3) с июня 2021 ```df_var_202106```.

In [4]:
def yearmonth_to_quarter(df, col_year, col_month):
    """Year and month numbers to format YYYYqN (2003, 09 to 2003q3)"""
    month_to_quarter = {3: 'q1', 6: 'q2', 9: 'q3', 12: 'q4'}
    quarters = df[col_year].astype(str) + df[col_month].replace(month_to_quarter)
    return quarters

def quarter_to_date(a):
    """Quarter of the format 2003q1 to date format 2003-01-01, a is an array"""
    quarter_to_month = {'1': '01', '2': '04', '3': '07', '4': '10'}
    dates = []
    for q in a:
        dates.append(datetime.strptime(q[:4] + '-' + quarter_to_month[q[-1]] + '-01', '%Y-%m-%d'))
    return dates

In [5]:
def df_var_202106(df):
    """From the central bank data, extract variables for the work. From 2021-06 until ..."""
    # 34 Всего источников собственных средств группы и малых акционеров (участников)
    
    df = df.dropna(subset=['14 Всего активов'])
    
    df['quarter'] = yearmonth_to_quarter(df, 'dt_year', 'dt_month')

    df['Name'] = df['Полное или сокращенное фирменное наименование головной кредитной организации']
    df['Total_assets'] = df['14 Всего активов']
    df['Net_worth'] = df['34 Всего источников собственных средств группы и малых акционеров (участников)'] #!
    df['Net_income'] = df['27 Прибыль (убыток) за отчетный период, в том числе:']
    
    df['Loans'] = (df['4.1 кредиты (займы) и дебиторская задолженность, в том числе:'] +
                   df['5.3 кредиты (займы)'] + df['6.3 кредиты (займы)']) 
    df['Admin_expenses'] = df['21 Административные и прочие операционные расходы, в том числе:']
    df['Rel_Admin_expenses'] = df['Admin_expenses'] / df['Total_assets']
    #Total holdings of securities
    df['Securities'] = (df['4.2 долговые ценные бумаги'] + df['5.1 долговые ценные бумаги, в том числе:'] +
                        df['5.2 долевые ценные бумаги'] + df['6.1 долговые ценные бумаги, в том числе:'] +
                        df['6.2 долевые ценные бумаги, в том числе:'])
    # non-interest expenses
    df['NIE'] = (df['14 Комиссионные расходы'] + 
                 df['21 Административные и прочие операционные расходы, в том числе:'])
    # non-interest income
    df['NII'] = (df['12 Доходы в виде дивидендов'] + df['13 Комиссионные доходы'] + df['19 Прочие операционные доходы'])
    # interest income on loans
    df['II_Loans'] = (df['1.2.1 от кредитов (займов), предоставленных кредитным организациям, и дебиторской задолженности'] +
                      df['1.2.2 от кредитов (займов), предоставленных клиентам, не являющимся кредитными организациями, и дебиторской задолженности'])
    #interest expenses on deposits
    df['IE_Deposits'] = (df['2.1 по привлеченным средствам кредитных организаций'] +
                         df['2.2 по привлеченным средствам клиентов, не являющихся кредитными организациями'])
    df['Leverage'] = df['Net_worth'] / df['Total_assets']
    df['Deposits'] = (df['15 Финансовые обязательства, оцениваемые по амортизированной стоимости, в том числе:'] + 
                      df['16 Финансовые обязательства, оцениваемые по справедливой стоимости через прибыль или убыток, в том числе:'])
    df['Pure_deposits'] = (df['15.4 средства клиентов, не являющихся кредитными организациями'] +
                           df['15.5 средства физических лиц'] +
                           df['16.1 средства клиентов, не являющихся кредитными организациями'] +
                           df['16.2 средства физических лиц'])
    df['Cash'] = (df['1 Денежные средства и их эквиваленты'] + df['2 Средства в центральных банках'] + 
                  df['3 Средства в кредитных организациях'])
    df['Liabilities'] = df['21 Всего обязательств']
    # Safe funds income (for deposit markups)
    df['Safe_funds'] = df['3 Средства в кредитных организациях']
    df['Safe_funds_income'] = df['1.1 от размещения средств в кредитных организациях']
    df['Safe_rev'] = df['Safe_funds_income'] / df['Safe_funds']

    # For HHI
    df['Sales'] = df['1 Процентные доходы, всего, в том числе:'] + df['13 Комиссионные доходы']
    
    df = df.loc[:, ['regnum', 'dt_year', 'dt_month', 'quarter', 'Name',
                    'Total_assets', 'Net_worth', 'Net_income', 
                    'Loans', 'Admin_expenses', 'Rel_Admin_expenses', 
                    'Securities', 'Cash', 'Liabilities',
                    'NIE', 'NII', 'II_Loans', 'IE_Deposits', 'Leverage', 
                    'Deposits', 'Pure_deposits', 'Sales', 'Safe_funds', 'Safe_funds_income', 'Safe_rev']]
    # Price of Loans
    df['PoL'] = df['II_Loans'] / df['Loans']
    # Cost of Funds
    df['CoF'] = df['IE_Deposits'] / df['Deposits']
    
    
    df = df.replace([np.inf, -np.inf], np.nan)
    return df

In [6]:
def df_var_201903(df):
    """From the central bank data, extract variables for the work. From 2019-03 until 2021-03"""
    # 35 Всего источников собственных средств группы и малых акционеров (участников)
    # 1.2.1, 1.2.2 от кредитов (займов)... (за исключением финансовой аренды)
    # 1.3 от оказания услуг по финансовой аренде (лизингу)
    
    df = df.dropna(subset=['14 Всего активов'])
    
    df['quarter'] = yearmonth_to_quarter(df, 'dt_year', 'dt_month')
    
    df['Name'] = df['Полное или сокращенное фирменное наименование головной кредитной организации']
    df['Total_assets'] = df['14 Всего активов']
    df['Net_worth'] = df['35 Всего источников собственных средств группы и малых акционеров (участников)'] #!
    df['Net_income'] = df['27 Прибыль (убыток) за отчетный период, в том числе:']
    df['Loans'] = (df['4.1 кредиты (займы) и дебиторская задолженность, в том числе:'] +
                   df['5.3 кредиты (займы)'] + df['6.3 кредиты (займы)'])

    df['Admin_expenses'] = df['21 Административные и прочие операционные расходы, в том числе:']
    df['Rel_Admin_expenses'] = df['Admin_expenses'] / df['Total_assets']
    #Total holdings of securities
    df['Securities'] = (df['4.2 долговые ценные бумаги'] + df['5.1 долговые ценные бумаги'] +
                        df['5.2 долевые ценные бумаги'] + df['6.1 долговые ценные бумаги, в том числе:'] +
                        df['6.2 долевые ценные бумаги, в том числе:'])
    # non-interest expenses
    df['NIE'] = (df['14 Комиссионные расходы'] + 
                 df['21 Административные и прочие операционные расходы, в том числе:'])
    # non-interest income
    df['NII'] = (df['12 Доходы в виде дивидендов'] + df['13 Комиссионные доходы'] + df['19 Прочие операционные доходы'])
    # interest income on loans
    df['II_Loans'] = (df['1.2.1 от кредитов (займов), предоставленных кредитным организациям, и дебиторской задолженности (за исключением финансовой аренды)'] +
                      df['1.2.2 от кредитов (займов), предоставленных клиентам, не являющимся кредитными организациями, и дебиторской задолженности (за исключением финансовой аренды)'] +
                      df['1.3 от оказания услуг по финансовой аренде (лизингу)'])
    #interest expenses on deposits
    df['IE_Deposits'] = (df['2.1 по привлеченным средствам кредитных организаций'] +
                         df['2.2 по привлеченным средствам клиентов, не являющихся кредитными организациями'])
    df['Leverage'] = df['Net_worth'] / df['Total_assets']
    df['Deposits'] = (df['15 Финансовые обязательства, оцениваемые по амортизированной стоимости, в том числе:'] + 
                      df['16 Финансовые обязательства, оцениваемые по справедливой стоимости через прибыль или убыток, в том числе:'])
    df['Pure_deposits'] = (df['15.4 средства клиентов, не являющихся кредитными организациями'] +
                           df['15.5 средства физических лиц'] +
                           df['16.1 средства клиентов, не являющихся кредитными организациями'] +
                           df['16.2 средства физических лиц'])
    df['Cash'] = (df['1 Денежные средства и их эквиваленты'] + df['2 Средства в центральных банках'] + 
                  df['3 Средства в кредитных организациях'])
    df['Liabilities'] = df['21 Всего обязательств']
    # Safe funds income (for deposit markups)
    df['Safe_funds'] = df['3 Средства в кредитных организациях']
    df['Safe_funds_income'] = df['1.1 от размещения средств в кредитных организациях']
    df['Safe_rev'] = df['Safe_funds_income'] / df['Safe_funds']
    
    # For HHI
    df['Sales'] = df['1 Процентные доходы, всего, в том числе:'] + df['13 Комиссионные доходы']
    
    df = df.loc[:, ['regnum', 'dt_year', 'dt_month', 'quarter', 'Name',
                    'Total_assets', 'Net_worth', 'Net_income', 
                    'Loans', 'Admin_expenses', 'Rel_Admin_expenses', 
                    'Securities', 'Cash', 'Liabilities',
                    'NIE', 'NII', 'II_Loans', 'IE_Deposits', 'Leverage', 
                    'Deposits', 'Pure_deposits', 'Sales', 'Safe_funds', 'Safe_funds_income', 'Safe_rev']]
    # Price of Loans
    df['PoL'] = df['II_Loans'] / df['Loans']
    # Cost of Funds
    df['CoF'] = df['IE_Deposits'] / df['Deposits']
    
    
    df = df.replace([np.inf, -np.inf], np.nan)
    return df

In [7]:
def df_var_to201812(df):
    """From the central bank data, extract variables for the work. From 2018-09 until 2018-12. And earlier from 2017-09"""
    # 36 Всего источников собственных средств группы и малых акционеров (участников)
    # 15 Всего активов
    # 6 Кредиты (займы)
    # и прочее
    
    df = df.dropna(subset=['15 Всего активов'])
    
    df['quarter'] = yearmonth_to_quarter(df, 'dt_year', 'dt_month')
    
    df['Name'] = df['Полное или сокращенное фирменное наименование головной кредитной организации']
    df['Total_assets'] = df['15 Всего активов']
    df['Net_worth'] = df['36 Всего источников собственных средств группы и малых акционеров (участников)']
    df['Net_income'] = df['26 Прибыль (убыток) за отчетный период']
    df['Loans'] = (df['6 Кредиты (займы) и дебиторская задолженность, в том числе:'])

    df['Admin_expenses'] = df['21 Административные и прочие операционные расходы']
    df['Rel_Admin_expenses'] = df['Admin_expenses'] / df['Total_assets']
    #Total holdings of securities
    df['Securities'] = (df['4 Финансовые активы, оцениваемые по справедливой стоимости через прибыль или убыток, в том числе:'] + 
                        df['5 Финансовые активы, оцениваемые по справедливой стоимости через прибыль или убыток, переданные без прекращения признания'] +
                        df['7 Финансовые активы, имеющиеся в наличии для продажи'])
    # non-interest expenses
    df['NIE'] = (df['14 Комиссионные расходы'] + 
                 df['21 Административные и прочие операционные расходы'])
    # non-interest income
    df['NII'] = (df['12 Доходы в виде дивидендов'] + df['13 Комиссионные доходы'] + df['19 Прочие операционные доходы'])
    # interest income on loans
    df['II_Loans'] = (df['1.1 От размещения средств в кредитных организациях'] +
                      df['1.2 От кредитов (займов), предоставленных клиентам, не являющимся кредитными организациями, и дебиторской задолженности (за исключением финансовой аренды)'] + 
                      df['1.3 От оказания услуг по финансовой аренде (лизингу)'])
    #interest expenses on deposits
    df['IE_Deposits'] = (df['2.1 По привлеченным средствам кредитных организаций'] +
                         df['2.2 По привлеченным средствам клиентов, не являющихся кредитными организациями'])
    df['Leverage'] = df['Net_worth'] / df['Total_assets']
    df['Deposits'] = (df['16 Кредиты, депозиты и прочие средства центральных  банков'] + 
                      df['17 Средства кредитных организаций'] + 
                      df['18 Средства клиентов, не являющихся кредитными организациями'] + 
                      df['19 Финансовые обязательства, оцениваемые по справедливой стоимости через прибыль или убыток, в том числе:'] +
                      df['20 Выпущенные долговые обязательства'])
    df['Pure_deposits'] = (df['18 Средства клиентов, не являющихся кредитными организациями'])
                           #+ df['18.1 Вклады физических лиц']
    df['Cash'] = (df['1 Денежные средства и их эквиваленты'] + df['2 Средства в центральных банках'] + 
                  df['3 Средства в кредитных организациях'])
    df['Liabilities'] = df['25 Всего обязательств']
    # Safe funds income (for deposit markups)
    df['Safe_funds'] = df['3 Средства в кредитных организациях']
    df['Safe_funds_income'] = df['1.1 От размещения средств в кредитных организациях']
    df['Safe_rev'] = df['Safe_funds_income'] / df['Safe_funds']
    
    # For HHI
    df['Sales'] = df['1 Процентные доходы, всего, в том числе:'] + df['13 Комиссионные доходы']
    
    df = df.loc[:, ['regnum', 'dt_year', 'dt_month', 'quarter', 'Name',
                    'Total_assets', 'Net_worth', 'Net_income', 
                    'Loans', 'Admin_expenses', 'Rel_Admin_expenses', 
                    'Securities', 'Cash', 'Liabilities',
                    'NIE', 'NII', 'II_Loans', 'IE_Deposits', 'Leverage', 
                    'Deposits', 'Pure_deposits', 'Sales', 'Safe_funds', 'Safe_funds_income', 'Safe_rev']]
    # Price of Loans
    df['PoL'] = df['II_Loans'] / df['Loans']
    # Cost of Funds
    df['CoF'] = df['IE_Deposits'] / df['Deposits']
    
    
    df = df.replace([np.inf, -np.inf], np.nan)
    return df

Соберём в один DataFrame данные с 2019-03 по 2021-09. Отметим, что в отчётах собраны аккумулированные квартальные отчёты, т.е. доходы/расходы расчитаны с начала года.

In [8]:
i = (2019, '03')
df_temp = pd.read_excel(path_bankdata+r'\bankdata_'+str(i[0])+'_'+i[1]+'.xlsx')
df_temp = df_temp.dropna(subset=['14 Всего активов']) # drop the rows with missing assets
df_temp = df_var_201903(df_temp)
df_temp

,regnum,dt_year,dt_month,quarter,Name,Total_assets,Net_worth,Net_income,Loans,Admin_expenses,...,IE_Deposits,Leverage,Deposits,Pure_deposits,Sales,Safe_funds,Safe_funds_income,Safe_rev,PoL,CoF
0,2306,2019,3,2019q1,Акционерный коммерческий банк «Абсолют Банк» (...,2.609245e+08,1.921198e+07,4801805.0,1.668763e+08,2917780.0,...,3038707.0,0.073630,2.334732e+08,2.138552e+08,2.623039e+07,2291463.0,55451.0,0.024199,0.071026,0.013015
1,2879,2019,3,2019q1,Акционерный Коммерческий банк «АВАНГАРД» — пуб...,1.145952e+08,2.518064e+07,1230729.0,NaN,2084372.0,...,451509.0,0.219736,8.791022e+07,NaN,4.595871e+06,7835611.0,NaN,NaN,NaN,0.005136
10,1810,2019,3,2019q1,«Азиатско-Тихоокеанский Банк» (Акционерное общ...,8.693354e+07,1.391370e+07,3174270.0,5.169270e+07,1747004.0,...,973783.0,0.160050,7.018333e+07,6.847106e+07,9.717640e+06,1172702.0,17356.0,0.014800,0.125596,0.013875
14,2590,2019,3,2019q1,Акционерный коммерческий банк «АК БАРС» (публи...,5.108334e+08,6.759251e+07,1829795.0,3.701018e+08,3553082.0,...,5755965.0,0.132318,4.321711e+08,3.778641e+08,9.835514e+06,6788940.0,0.0,0.000000,0.018606,0.013319
19,2602,2019,3,2019q1,Акционерный Коммерческий Банк «Алмазэргиэнбанк...,2.670309e+07,2.765313e+06,-277326.0,NaN,613647.0,...,300329.0,0.103558,NaN,NaN,1.783210e+06,300460.0,84872.0,0.282474,NaN,NaN
23,1326,2019,3,2019q1,АКЦИОНЕРНОЕ ОБЩЕСТВО «АЛЬФА-БАНК»,3.245893e+09,4.194109e+08,45903567.0,2.092191e+09,23877956.0,...,37505539.0,0.129213,2.757425e+09,2.284439e+09,8.741940e+07,215855786.0,3589220.0,0.016628,0.025259,0.013602
30,436,2019,3,2019q1,ПУБЛИЧНОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО «БАНК „САНКТ-ПЕ...,6.482653e+08,7.910669e+07,1159678.0,4.820058e+08,4356238.0,...,6396255.0,0.122028,5.656691e+08,4.061386e+08,1.787760e+07,9669131.0,0.0,0.000000,0.019489,0.011307
33,2312,2019,3,2019q1,Акционерное общество «Банк ДОМ.РФ»,1.929260e+08,1.204904e+07,-4828448.0,9.746225e+07,4023982.0,...,2632375.0,0.062454,1.580634e+08,1.413146e+08,7.808276e+06,4703077.0,0.0,0.000000,0.044138,0.016654
34,3138,2019,3,2019q1,Акционерное Общество «Банк Жилищного Финансиро...,1.220743e+07,2.384784e+06,802751.0,9.257036e+06,168168.0,...,150548.0,0.195355,9.672254e+06,7.802954e+06,6.403020e+05,260984.0,8159.0,0.031262,0.063597,0.015565
35,3255,2019,3,2019q1,Банк ЗЕНИТ (публичное акционерное общество),2.530100e+08,2.798722e+07,615012.0,1.539283e+08,2617181.0,...,2866920.0,0.110617,2.213818e+08,2.004797e+08,1.246412e+07,9257312.0,10768.0,0.001163,0.025812,0.012950
36,2216,2019,3,2019q1,Акционерное общество «Банк Интеза»,5.957462e+07,1.288237e+07,-87006.0,4.466511e+07,857628.0,...,325461.0,0.216239,NaN,NaN,1.615005e+06,2459198.0,NaN,NaN,0.018140,NaN
42,3269,2019,3,2019q1,Акционерное общество коммерческий банк «ОРЕНБУРГ»,1.565289e+07,3.277386e+06,26127.0,1.007390e+07,264648.0,...,135268.0,0.209379,1.213722e+07,1.210967e+07,7.428840e+05,258316.0,351.0,0.001359,0.024248,0.011145
46,2816,2019,3,2019q1,Акционерное общество «СЕВЕРГАЗБАНК»,6.570364e+07,4.149869e+06,232006.0,5.470416e+07,467182.0,...,772622.0,0.063160,6.098201e+07,5.967865e+07,1.389200e+06,167078.0,511186.0,3.059565,0.011129,0.012670
58,1745,2019,3,2019q1,Публичное акционерное общество «БыстроБанк»,3.614287e+07,3.885337e+06,-2086.0,NaN,307972.0,...,466392.0,0.107499,NaN,NaN,1.292448e+06,182086.0,9892.0,0.054326,NaN,NaN
70,3287,2019,3,2019q1,Акционерное общество «Всероссийский банк разви...,7.698983e+08,-5.770000e+03,4267834.0,5.293096e+08,2488255.0,...,7349913.0,-0.000007,7.665090e+08,6.609991e+08,2.626763e+07,52791011.0,255651.0,0.004843,0.017969,0.009589
71,1000,2019,3,2019q1,Банк ВТБ (публичное акционерное общество),1.427497e+10,1.266761e+09,71612555.0,1.105626e+10,214829971.0,...,155174319.0,0.088740,1.270802e+10,1.067628e+10,4.465592e+08,75308475.0,81064.0,0.001076,0.022429,0.012211
75,354,2019,3,2019q1,«Газпромбанк» (Акционерное общество),6.113652e+09,5.369756e+08,35237866.0,3.949436e+09,27733238.0,...,59833059.0,0.087832,5.528264e+09,4.633750e+09,1.117771e+08,356930078.0,7064134.0,0.019791,0.021943,0.010823
86,843,2019,3,2019q1,Акционерное общество «Дальневосточный банк»,4.257134e+07,9.414602e+06,57856.0,3.463819e+07,765920.0,...,394225.0,0.221149,3.277974e+07,3.236156e+07,2.339768e+06,1302617.0,9088.0,0.006977,0.025483,0.012026
87,646,2019,3,2019q1,Акционерное общество «Датабанк»,1.129552e+07,1.348956e+06,188043.0,NaN,162126.0,...,NaN,0.119424,NaN,NaN,3.940530e+05,294162.0,41337.0,0.140525,NaN,NaN
90,2738,2019,3,2019q1,«Акционерный коммерческий банк „Держава“ публи...,1.930444e+07,6.452946e+06,798430.0,NaN,222466.0,...,196123.0,0.334273,1.228537e+07,NaN,6.146630e+05,151819.0,103492.0,0.681680,NaN,0.015964
114,2307,2019,3,2019q1,Акционерное общество Ингосстрах Банк,9.033231e+07,1.077751e+07,1051978.0,5.981145e+07,1058254.0,...,1101213.0,0.119310,7.906148e+07,7.095309e+07,2.475917e+06,5667846.0,0.0,0.000000,0.034965,0.013929
120,2609,2019,3,2019q1,Акционерное общество «ИТ Банк»,2.933166e+06,4.836710e+05,-15841.0,7.534460e+05,77821.0,...,33684.0,0.164897,2.373372e+06,2.373372e+06,1.367000e+05,24666.0,10544.0,0.427471,0.041957,0.014192
127,842,2019,3,2019q1,Общество с ограниченной ответственностью «Кето...,2.054929e+06,5.137040e+05,66660.0,NaN,45641.0,...,19674.0,0.249986,NaN,NaN,8.319200e+04,114063.0,12621.0,0.110649,NaN,NaN
138,3311,2019,3,2019q1,Акционерное общество «Кредит Европа Банк (Росс...,1.548609e+08,2.217708e+07,1502847.0,1.336508e+08,2408288.0,...,1590761.0,0.143206,1.278115e+08,1.081114e+08,8.955014e+06,564177.0,285969.0,0.506878,0.035480,0.012446
152,2707,2019,3,2019q1,Коммерческий Банк «ЛОКО-Банк» (акционерное общ...,8.604079e+07,1.718562e+07,2009649.0,NaN,1108997.0,...,950575.0,0.199738,NaN,NaN,7.486566e+06,3270751.0,129.0,0.000039,NaN,NaN
158,2618,2019,3,2019q1,АКЦИОНЕРНОЕ ОБЩЕСТВО АКЦИОНЕРНЫЙ КОММЕРЧЕСКИЙ ...,1.412914e+08,1.027972e+07,1029711.0,7.631506e+07,1607181.0,...,1807601.0,0.072755,1.299748e+08,1.139252e+08,2.988151e+06,8739752.0,5586.0,0.000639,0.015585,0.013907
159,2440,2019,3,2019q1,АКЦИОНЕРНЫЙ КОММЕРЧЕСКИЙ БАНК «МЕТАЛЛУРГИЧЕСКИ...,8.526135e+07,1.002161e+07,538087.0,NaN,934057.0,...,952183.0,0.117540,7.413288e+07,NaN,2.797766e+06,5690274.0,8862.0,0.001557,NaN,0.012844
161,2443,2019,3,2019q1,Публичное акционерное общество «МЕТКОМБАНК»,8.636490e+07,1.826668e+07,-335621.0,4.012969e+07,411585.0,...,736572.0,0.211506,6.700877e+07,5.003338e+07,1.312355e+06,269676.0,110150.0,0.408453,0.017466,0.010992
166,1927,2019,3,2019q1,Акционерное общество Коммерческий Банк «Модуль...,1.510693e+07,2.532103e+06,118588.0,5.189648e+06,618422.0,...,96912.0,0.167612,1.148432e+07,1.148432e+07,8.452830e+05,1259345.0,13029.0,0.010346,0.007598,0.008439
171,1978,2019,3,2019q1,«МОСКОВСКИЙ КРЕДИТНЫЙ БАНК» (публичное акционе...,2.112679e+09,1.569440e+08,35736756.0,1.750435e+09,15424374.0,...,23398716.0,0.074287,1.947843e+09,1.151650e+09,1.776769e+08,8356365.0,118432.0,0.014173,0.018612,0.012013
176,3340,2019,3,2019q1,Акционерное общество «Российский Банк поддержк...,1.074198e+08,1.822322e+07,74518.0,NaN,1225598.0,...,1204582.0,0.169645,NaN,NaN,8.130950e+05,714326.0,NaN,NaN,NaN,NaN
178,2268,2019,3,2019q1,Публичное акционерное общество «МТС-Банк»,1.459722e+08,2.011458e+07,2139623.0,NaN,2597092.0,...,1619854.0,0.137797,1.217534e+08,1.160716e+08,8.841619e+06,9917348.0,2465.0,0.000249,NaN,0.013304
187,2170,2019,3,2019q1,Акционерный коммерческий банк «Национальный Ре...,1.028653e+07,7.878846e+06,1017690.0,5.320975e+06,219839.0,...,13041.0,0.765938,2.294266e+06,1.397953e+06,2.901758e+06,667836.0,25130.0,0.037629,0.312766,0.005684
206,2766,2019,3,2019q1,Акционерное общество «ОТП Банк»,1.402225e+08,2.530927e+07,-423115.0,1.220774e+08,4546664.0,...,1318374.0,0.180494,1.082773e+08,1.050581e+08,8.029334e+06,392651.0,583039.0,1.484878,0.049838,0.012176
213,3532,2019,3,2019q1,Небанковская кредитная организация «Перспектив...,1.392290e+05,6.680400e+04,1639.0,NaN,31841.0,...,NaN,0.479814,NaN,NaN,1.277800e+04,2089.0,675.0,0.323121,NaN,NaN
219,2534,2019,3,2019q1,Акционерное общество коммерческий банк «Пойдём!»,1.448036e+07,2.704752e+06,303605.0,NaN,855005.0,...,188817.0,0.186788,NaN,NaN,1.409170e+06,111429.0,24018.0,0.215545,NaN,NaN
226,212,2019,3,2019q1,Прио-Внешторгбанк (публичное акционерное общес...,1.501815e+07,2.135991e+06,621597.0,1.205437e+07,267434.0,...,133932.0,0.142227,1.267894e+07,1.246947e+07,1.684301e+06,447647.0,0.0,0.000000,0.025895,0.010563
235,3292,2019,3,2019q1,Акционерное общество «Райффайзенбанк»,1.105587e+09,1.547704e+08,15833042.0,8.650612e+08,9707137.0,...,5425401.0,0.139989,9.266710e+08,8.427693e+08,3.374007e+07,4228615.0,2450691.0,0.579549,0.024823,0.005855
245,2272,2019,3,2019q1,Публичное акционерное общество РОСБАНК,1.187196e+09,1.494434e+08,2471863.0,NaN,11455167.0,...,8874711.0,0.125879,1.019224e+09,NaN,3.483841e+07,35432539.0,591240.0,0.016686,NaN,0.008707
247,3349,2019,3,2019q1,Акционерное общество «Российский Сельскохозяйс...,3.269959e+09,1.324409e+08,3213455.0,2.397651e+09,22041584.0,...,38690892.0,0.040502,3.111907e+09,2.729455e+09,6.747020e+07,3380454.0,1759.0,0.000520,0.022491,0.012433
249,1354,2019,3,2019q1,РОССИЙСКИЙ НАЦИОНАЛЬНЫЙ КОММЕРЧЕСКИЙ БАНК (пуб...,2.124057e+08,4.558276e+07,3570609.0,1.796749e+08,2000665.0,...,1617756.0,0.214602,1.605903e+08,1.523987e+08,9.501020e+06,819078.0,505479.0,0.617132,0.024999,0.010074
258,2289,2019,3,2019q1,Акционерное общество «Банк Русский Стандарт»,3.226438e+08,3.465578e+07,1928954.0,1.070157e+08,6300073.0,...,4103419.0,0.107412,2.758068e+08,2.255326e+08,1.123120e+07,1833544.0,220622.0,0.120325,0.061073,0.014878
264,1481,2019,3,2019q1,Публичное акционерное общество «Сбербанк России»,3.141788e+10,4.255431e+09,269329803.0,2.280091e+10,292099623.0,...,254171661.0,0.135446,2.647563e+10,2.417890e+10,1.208949e+09,559210143.0,14837102.0,0.026532,0.024493,0.009600
266,1637,2019,3,2019q1,«СДМ-Банк» (публичное акционерное общество),6.566445e+07,8.653904e+06,306457.0,1.662521e+07,431624.0,...,675468.0,0.131790,5.599326e+07,4.872012e+07,1.486199e+06,2444144.0,56901.0,0.023281,0.033969,0.012063
267,3368,2019,3,2019q1,Акционерное общество Банк «Северный морской путь»,6.253760e+08,-5.045998e+07,9507984.0,3.355872e+08,3771181.0,...,8413374.0,-0.080687,6.728528e+08,5.376147e+08,1.965601e+07,693920.0,699.0,0.001007,0.027145,0.012504
273,705,2019,3,2019q1,Публичное акционерное общество Банк Синара,1.384289e+08,8.918753e+06,106265.0,NaN,1719829.0,...,1524094.0,0.064428,NaN,NaN,5.545529e+06,890047.0,111.0,0.000125,NaN,NaN
281,963,2019,3,2019q1,Публичное акционерное общество «Совкомбанк»,9.656366e+08,1.422368e+08,34809909.0,4.667796e+08,13177204.0,...,9340711.0,0.147298,8.064550e+08,6.692047e+08,3.084052e+07,16250822.0,0.0,0.000000,0.030930,0.011582
284,554,2019,3,2019q1,Акционерное общество коммерческий банк «Солида...,3.348337e+07,8.787969e+06,-534590.0,1.819411e+07,438042.0,...,395326.0,0.262458,2.457254e+07,2.414273e+07,9.670300e+05,1828974.0,92636.0,0.050649,0.038022,0.016088
304,2673,2019,3,2019q1,Акционерное общество «Тинькофф Банк»,4.066748e+08,6.644610e+07,9664714.0,2.718375e+08,8127459.0,...,3647759.0,0.163389,3.340487e+08,3.038550e+08,2.707955e+07,3053988.0,58250.0,0.019073,0.047434,0.010920
305,3470,2019,3,2019q1,Акционерное общество «Тойота Банк»,6.952524e+07,1.310487e+07,329765.0,6.680334e+07,270835.0,...,951576.0,0.188491,5.634997e+07,1.784712e+07,3.896315e+06,75826.0,78171.0,1.030926,0.027576,0.016887
310,2210,2019,3,2019q1,Публичное акционерное общество «ТРАНСКАПИТАЛБАНК»,3.049702e+08,1.582584e+07,-145152.0,NaN,1985025.0,...,3994818.0,0.051893,2.844563e+08,NaN,6.400763e+06,6761207.0,-19591.0,-0.002898,NaN,0.014044
316,2275,2019,3,2019q1,Публичное акционерное общество «БАНК УРАЛСИБ»,5.174593e+08,6.209714e+07,8495620.0,2.689369e+08,8917343.0,...,5645559.0,0.120004,4.496527e+08,3.560916e+08,3.587208e+07,1841019.0,4844.0,0.002631,0.066634,0.012555
318,429,2019,3,2019q1,Публичное акционерное общество «Уральский банк...,3.131034e+08,1.428952e+07,3905739.0,1.640845e+08,2033758.0,...,4160860.0,0.045638,2.966981e+08,2.297177e+08,1.317592e+07,5275188.0,9426.0,0.001787,0.027088,0.014024
321,3388,2019,3,2019q1,Акционерное общество «Банк Финсервис»,1.199340e+08,8.030406e+06,619574.0,NaN,412994.0,...,1157808.0,0.066957,1.118005e+08,NaN,4.024702e+06,736632.0,0.0,0.000000,NaN,0.010356
323,2209,2019,3,2019q1,Публичное акционерное общество Банк «Финансова...,2.547683e+09,3.728252e+08,27616614.0,1.126748e+09,44055661.0,...,14550060.0,0.146339,1.493080e+09,1.343579e+09,6.491507e+07,14361196.0,203177.0,0.014148,0.032666,0.009745
330,316,2019,3,2019q1,Общество с ограниченной ответственностью «Хоум...,3.110620e+08,6.497459e+07,6865582.0,2.799963e+08,7128948.0,...,4096292.0,0.208880,2.420111e+08,2.215390e+08,2.508768e+07,1215817.0,0.0,0.000000,0.051559,0.016926
333,2225,2019,3,2019q1,Публичное акционерное общество коммерческий ба...,1.073506e+08,1.389654e+07,2096098.0,9.148953e+07,938123.0,...,1221062.0,0.129450,9.272213e+07,8.595405e+07,4.282847e+06,535301.0,101582.0,0.189766,0.041359,0.013169
338,485,2019,3,2019q1,АКЦИОНЕРНЫЙ КОММЕРЧЕСКИЙ БАНК «ЧЕЛИНДБАНК» (пу...,5.261509e+07,1.074148e+07,743625.0,2.716147e+07,1144551.0,...,511244.0,0.204152,3.992304e+07,3.907699e+07,2.866481e+06,440401.0,0.0,0.000000,0.056918,0.012806
339,493,2019,3,2019q1,АКЦИОНЕРНЫЙ ЧЕЛЯБИНСКИЙ ИНВЕСТИЦИОННЫЙ БАНК «Ч...,4.739550e+07,8.813409e+06,794406.0,2.337676e+07,1782698.0,...,390250.0,0.185955,3.764663e+07,3.736097e+07,2.549407e+06,352511.0,0.0,0.000000,0.025550,0.010366
356,1,2019,3,2019q1,Акционерное общество «ЮниКредит Банк»,1.466663e+09,2.065429e+08,2177587.0,1.098060e+09,9172912.0,...,12534565.0,0.140825,1.228901e+09,1.030982e+09,2.444079e+07,40355423.0,2905160.0,0.071989,0.015024,0.010200

In [9]:
df = pd.DataFrame()
for i in [(2019, '03'), (2019, '06'), (2019, '09'), (2019, '12'), 
          (2020, '03'), (2020, '06'), (2020, '09'), (2020, '12'),
          (2021, '03')]:
    df_temp = pd.read_excel(path_bankdata+r'\bankdata_'+str(i[0])+'_'+i[1]+'.xlsx')
    df_temp = df_temp.dropna(subset=['14 Всего активов'])
    df_temp = df_var_201903(df_temp)
    df_temp = df_temp.dropna()
    df = pd.concat([df, df_temp])
for i in [(2021, '06'), (2021, '09')]:
    df_temp = pd.read_excel(path_bankdata+r'\bankdata_'+str(i[0])+'_'+i[1]+'.xlsx')
    df_temp = df_temp.dropna(subset=['14 Всего активов'])
    df_temp = df_var_202106(df_temp)
    df_temp = df_temp.dropna()
    df = pd.concat([df, df_temp])
#df.loc[df['regnum']==1000]

Рассмотрим два типа датасетов:
<ol>
  <li> Панель из точек на конец годов.</li>
    <ol>
        <li> 2019-2020 (одинаковая отчётность) </li>
        <li> 2017-2018 (одинаковая отчётность) </li>
        <li> 2017-2020 (до Ковида) </li>
    </ol>
  <li> Деаккумулированная панель из квартальных данных.</li>
    <ol>
        <li> 2019-03 по 2021-09 (примерно один формат данных) </li>
        <li> 2017-09 по 2018-12 (примерно один формат данных) </li>
        <li> 2017-09 по 2019-12 (до системных сдвигов, pre-COVID) </li>
        <li> 2017-09 по 2021-09 (максимальная) </li>
    </ol>
    
</ol>

Форма менялась в июне 2021 и в марте 2019, поэтому создаём 3 функции.
Данные отсутствуют за 2021-12,...,2023-03.

# 2. Панель на конец года и деаккумулированная панель

In [10]:
# the results are saved into
path_local = path+r'\var'

## 2.1 Панель на конец года (2017-2020)

Максимально доступная с годовыми данными.

In [11]:
# Панель из годовых отчётов 2017-2020
df = pd.DataFrame()
for i in [(2017, '12'), 
          (2018, '12')]:
    df_temp = pd.read_excel(path_bankdata+r'\bankdata_'+str(i[0])+'_'+i[1]+'.xlsx')
    #df_temp = df_temp.dropna(subset=['15 Всего активов'])
    df_temp = df_var_to201812(df_temp)
    df_temp = df_temp.dropna()
    df = pd.concat([df, df_temp])
for i in [(2019, '12'), 
          (2020, '12')]:
    df_temp = pd.read_excel(path_bankdata+r'\bankdata_'+str(i[0])+'_'+i[1]+'.xlsx')
    #df_temp = df_temp.dropna(subset=['14 Всего активов'])
    df_temp = df_var_201903(df_temp)
    df_temp = df_temp.dropna()
    df = pd.concat([df, df_temp])
df.to_excel(path_local+r'\bankdata_2017-2020_y_var.xlsx')
#df.to_csv(path_local+r'\bankdata_2017-2020_var.csv', encoding='utf-8')
df

,regnum,dt_year,dt_month,quarter,Name,Total_assets,Net_worth,Net_income,Loans,Admin_expenses,...,IE_Deposits,Leverage,Deposits,Pure_deposits,Sales,Safe_funds,Safe_funds_income,Safe_rev,PoL,CoF
0,2306,2017,12,2017q4,Акционерный коммерческий банк «Абсолют Банк» (...,3.165208e+08,23943688.0,-5087365.0,1.696330e+08,-16607696.0,...,18633295.0,0.075646,2.859441e+08,2.201219e+08,34425851.0,5679014.0,307128.0,0.054081,0.136013,0.065164
10,1810,2017,12,2017q4,«Азиатско-Тихоокеанский Банк» (Акционерное общ...,1.051164e+08,13697749.0,-536147.0,6.181845e+07,17183619.0,...,6420222.0,0.130310,8.847114e+07,8.167237e+07,17126278.0,2122262.0,128753.0,0.060668,0.195958,0.072569
14,2590,2017,12,2017q4,Акционерный коммерческий банк «АК БАРС» (публи...,3.961865e+08,63900838.0,900927.0,2.320637e+08,25840513.0,...,21847637.0,0.161290,3.173214e+08,2.871494e+08,37657722.0,5806602.0,2498166.0,0.430229,0.115502,0.068850
23,1326,2017,12,2017q4,АКЦИОНЕРНОЕ ОБЩЕСТВО «АЛЬФА-БАНК»,2.635086e+09,280754748.0,51062318.0,1.565370e+09,98182438.0,...,86588677.0,0.106545,2.296712e+09,2.031833e+09,282402794.0,239171171.0,18565305.0,0.077624,0.117387,0.037701
30,436,2017,12,2017q4,ПУБЛИЧНОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО «БАНК „САНКТ-ПЕ...,5.975045e+08,56311373.0,4061287.0,4.068525e+08,13331756.0,...,26717858.0,0.094244,5.218685e+08,3.626863e+08,53080099.0,12352526.0,4028424.0,0.326121,0.094803,0.051197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,316,2020,12,2020q4,Общество с ограниченной ответственностью «Хоум...,2.809852e+08,65697720.0,4516202.0,2.294914e+08,25935173.0,...,13050463.0,0.233812,2.092369e+08,1.772766e+08,86440204.0,1207485.0,0.0,0.000000,0.231741,0.062372
338,485,2020,12,2020q4,АКЦИОНЕРНЫЙ КОММЕРЧЕСКИЙ БАНК «ЧЕЛИНДБАНК» (пу...,5.845194e+07,11915788.0,1067164.0,2.837713e+07,6709147.0,...,1840602.0,0.203856,4.395526e+07,4.310285e+07,9928400.0,482815.0,54858.0,0.113621,0.256399,0.041874
339,493,2020,12,2020q4,АКЦИОНЕРНЫЙ ЧЕЛЯБИНСКИЙ ИНВЕСТИЦИОННЫЙ БАНК «Ч...,5.870302e+07,10418863.0,1251349.0,2.792852e+07,9441039.0,...,1494980.0,0.177484,4.728040e+07,4.402206e+07,12482430.0,1453019.0,0.0,0.000000,0.096637,0.031619
344,2998,2020,12,2020q4,Акционерное общество «Экспобанк»,1.007195e+08,21403346.0,3385891.0,7.424404e+07,4086631.0,...,2916334.0,0.212504,7.762820e+07,7.524270e+07,22622028.0,2269704.0,298887.0,0.131685,0.107824,0.037568
356,1,2020,12,2020q4,Акционерное общество «ЮниКредит Банк»,1.296402e+09,219151481.0,10436606.0,9.630646e+08,47481970.0,...,29919088.0,0.169046,1.045510e+09,9.462620e+08,76698325.0,42688939.0,7193390.0,0.168507,0.055434,0.028617

## 2.2 Деаккумулированная панель из квартальных данных

In [12]:
def deaccumulate(df):
    """
    Given a DataFrame with quaterly accumulated data, the function returns DataFrame with non-accumulated quaterly data.
    If no previous quaterly data is missing (and not the first quater of the year) then the row would be deleted
    """
    
    #Direct updating: 'Net_income', 'Admin_expenses', 'NIE', 'NII', 'II_Loans', 'IE_Deposits', 
    #Indirect updating: 'Rel_Admin_expenses', 'PoL', 'CoF'

    # if month = '03': nothing
    # if month = '06': -'03' of the same year
    # if month = '09': -'06' of the same year
    # if month = '12': -'09' of the same year
    # if previous month is missing then put flag to delete the row at the end (this is for 2017q3), as deaccumulation is impossible
    # update all indirectly updated fields
    
    df['flag'] = 0
    years = np.sort(df['dt_year'].unique())[::-1]
    for regnum in df['regnum'].unique():
        for year in years:
            for month in [12, 9, 6]:
                condition_0 = (df['regnum'] == regnum) & (df['dt_year'] == year) & (df['dt_month'] == month)
                condition_1 = (df['regnum'] == regnum) & (df['dt_year'] == year) & (df['dt_month'] == month-3)
                if ((len(df.loc[condition_0]['Net_income']) > 0) & (len(df.loc[condition_1]['Net_income']) > 0)):
                    #i = df.loc[condition_0].index[0] #index of the row
                    #print('yes')
                    df.loc[condition_0, 'Net_income'] = df.loc[condition_0, 'Net_income'] - df.loc[condition_1, 'Net_income']
                    df.loc[condition_0, 'Admin_expenses'] = df.loc[condition_0, 'Admin_expenses'] - df.loc[condition_1, 'Admin_expenses']
                    df.loc[condition_0, 'NIE'] = df.loc[condition_0, 'NIE'] - df.loc[condition_1, 'NIE']
                    df.loc[condition_0, 'NII'] = df.loc[condition_0, 'NII'] - df.loc[condition_1, 'NII']
                    df.loc[condition_0, 'II_Loans'] = df.loc[condition_0, 'II_Loans'] - df.loc[condition_1, 'II_Loans']
                    df.loc[condition_0, 'IE_Deposits'] = df.loc[condition_0, 'IE_Deposits'] - df.loc[condition_1, 'IE_Deposits']
                    df.loc[condition_0, 'Safe_funds_income'] = df.loc[condition_0, 'Safe_funds_income'] - df.loc[condition_1, 'Safe_funds_income']
                    df.loc[condition_0, 'Sales'] = df.loc[condition_0, 'Sales'] - df.loc[condition_1, 'Sales']
                elif ((len(df.loc[condition_0]['Net_income']) > 0) & (len(df.loc[condition_1]['Net_income']) == 0)):
                    #i = df.loc[condition_0].index[0] #index of the row
                    #print('no')
                    df.loc[condition_0, 'flag'] = 1
    df['Rel_Admin_expenses'] = df['Admin_expenses'] / df['Total_assets']
    df['PoL'] = df['II_Loans'] / df['Loans'] # Price of Loans
    df['CoF'] = df['IE_Deposits'] / df['Deposits'] # Cost of Funds
    df['Safe_rev'] = df['Safe_funds_income'] / df['Safe_funds']
    df = df.loc[df['flag'] == 0]
    
    df = df.replace([np.inf, -np.inf], np.nan)
    return df

### Панель с 2017-09 по 2021-09 (максимальная)

In [13]:
#Деаккумулированная панель из квартальных данных с 2017-09 по 2021-09.
df = pd.DataFrame()
for i in [(2017, '09'), (2017, '12'), 
          (2018, '03'), (2018, '06'), (2018, '09'), (2018, '12')]:
    df_temp = pd.read_excel(path_bankdata+r'\bankdata_'+str(i[0])+'_'+i[1]+'.xlsx')
    #df_temp = df_temp.dropna(subset=['15 Всего активов'])
    df_temp = df_var_to201812(df_temp)
    df_temp = df_temp.dropna()
    df = pd.concat([df, df_temp])
for i in [(2019, '03'), (2019, '06'), (2019, '09'), (2019, '12'), 
          (2020, '03'), (2020, '06'), (2020, '09'), (2020, '12'),
          (2021, '03')]:
    df_temp = pd.read_excel(path_bankdata+r'\bankdata_'+str(i[0])+'_'+i[1]+'.xlsx')
    #df_temp = df_temp.dropna(subset=['14 Всего активов'])
    df_temp = df_var_201903(df_temp)
    df_temp = df_temp.dropna()
    df = pd.concat([df, df_temp])
for i in [(2021, '06'), (2021, '09')]:
    df_temp = pd.read_excel(path_bankdata+r'\bankdata_'+str(i[0])+'_'+i[1]+'.xlsx')
    #df_temp = df_temp.dropna(subset=['14 Всего активов'])
    df_temp = df_var_202106(df_temp)
    df_temp = df_temp.dropna()
    df = pd.concat([df, df_temp])
df.to_excel(path_local+r'\bankdata_201903-202109_nodeacc.xlsx')

df = deaccumulate(df)
df.to_excel(path_local+r'\bankdata_201709-202109_q_var.xlsx')
#df.to_csv(path_local+r'\bankdata_201709-202109_var.csv', encoding='utf-8')
df

,regnum,dt_year,dt_month,quarter,Name,Total_assets,Net_worth,Net_income,Loans,Admin_expenses,...,Leverage,Deposits,Pure_deposits,Sales,Safe_funds,Safe_funds_income,Safe_rev,PoL,CoF,flag
0,2306,2017,12,2017q4,Акционерный коммерческий банк «Абсолют Банк» (...,3.165208e+08,23943688.0,-1061276.0,1.696330e+08,-5606076.0,...,0.075646,2.859441e+08,2.201219e+08,9628099.0,5679014.0,81965.0,0.014433,0.039690,0.015513,0
14,2590,2017,12,2017q4,Акционерный коммерческий банк «АК БАРС» (публи...,3.961865e+08,63900838.0,-1156428.0,2.320637e+08,5854174.0,...,0.161290,3.173214e+08,2.871494e+08,9357237.0,5806602.0,714093.0,0.122979,0.027174,0.017280,0
23,1326,2017,12,2017q4,АКЦИОНЕРНОЕ ОБЩЕСТВО «АЛЬФА-БАНК»,2.635086e+09,280754748.0,41942751.0,1.565370e+09,25735107.0,...,0.106545,2.296712e+09,2.031833e+09,77416155.0,239171171.0,4060896.0,0.016979,0.031130,0.009093,0
30,436,2017,12,2017q4,ПУБЛИЧНОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО «БАНК „САНКТ-ПЕ...,5.975045e+08,56311373.0,654477.0,4.068525e+08,3887195.0,...,0.094244,5.218685e+08,3.626863e+08,13435793.0,12352526.0,1112921.0,0.090097,0.023613,0.011137,0
33,2312,2017,12,2017q4,Акционерное общество «Банк ДОМ.РФ»,3.580154e+08,41862030.0,-2573067.0,1.950314e+08,10924468.0,...,0.116928,2.971968e+08,2.287697e+08,10448377.0,9452868.0,80733.0,0.008541,0.040771,0.017990,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,316,2021,9,2021q3,Общество с ограниченной ответственностью «Хоум...,3.358071e+08,71461951.0,2886458.0,2.796779e+08,6520303.0,...,0.212807,2.576047e+08,2.110302e+08,22040194.0,2560474.0,0.0,0.000000,0.047520,0.010131,0
338,485,2021,9,2021q3,АКЦИОНЕРНЫЙ КОММЕРЧЕСКИЙ БАНК «ЧЕЛИНДБАНК» (пу...,6.084572e+07,12719019.0,316371.0,3.144199e+07,707604.0,...,0.209037,4.556829e+07,4.312986e+07,1639210.0,479860.0,12725.0,0.026518,0.025250,0.008746,0
339,493,2021,9,2021q3,АКЦИОНЕРНЫЙ ЧЕЛЯБИНСКИЙ ИНВЕСТИЦИОННЫЙ БАНК «Ч...,6.165321e+07,11473243.0,421155.0,3.042697e+07,2899317.0,...,0.186093,4.919869e+07,4.673456e+07,3656805.0,1655546.0,0.0,0.000000,0.024386,0.006256,0
344,2998,2021,9,2021q3,Акционерное общество «Экспобанк»,1.540950e+08,24112637.0,1870489.0,1.204652e+08,3953194.0,...,0.156479,1.280142e+08,1.078273e+08,6046001.0,1593693.0,132728.0,0.083283,0.024992,0.007641,0
356,1,2021,9,2021q3,Акционерное общество «ЮниКредит Банк»,1.235437e+09,221860512.0,6712688.0,9.015600e+08,9910743.0,...,0.179581,9.855435e+08,8.537720e+08,17749708.0,75783241.0,1875289.0,0.024745,0.013972,0.006604,0

Next steps:
* Prepare cross-section datasets and estimate credit markups there
* Prepare full (longest possible) ~~yearly and~~ quaterly panel data and estimate credit markups on it - ```done!```
* Try before 2020: 2017, 2018, 2019 yearly data - ```done!```
* Try before 2020: monthly data - ```done!```

# 3 Кросс-секции as is (no deaccumulation) с 2017-09 по 2021-09

In [14]:
path_local = path+r'\cross-section'

In [15]:
for i in [(2017, '09'), (2017, '12'), 
          (2018, '03'), (2018, '06'), (2018, '09'), (2018, '12')]:
    df_temp = pd.read_excel(path_bankdata+r'\bankdata_'+str(i[0])+'_'+i[1]+'.xlsx')
    #df_temp = df_temp.dropna(subset=['15 Всего активов'])
    df_temp = df_var_to201812(df_temp)
    df_temp = df_temp.dropna()
    df_temp.to_csv(path_local+r'\bankdata_'+str(i[0])+'_'+i[1]+'_var.csv', encoding='utf-8')
    df_temp.to_excel(path+r'\cross-section\bankdata_'+str(i[0])+'_'+i[1]+'_var.xlsx')
for i in [(2019, '03'), (2019, '06'), (2019, '09'), (2019, '12'), 
          (2020, '03'), (2020, '06'), (2020, '09'), (2020, '12'),
          (2021, '03')]:
    df_temp = pd.read_excel(path_bankdata+r'\bankdata_'+str(i[0])+'_'+i[1]+'.xlsx')
    #df_temp = df_temp.dropna(subset=['14 Всего активов'])
    df_temp = df_var_201903(df_temp)
    df_temp = df_temp.dropna()
    df_temp.to_csv(path_local+r'\bankdata_'+str(i[0])+'_'+i[1]+'_var.csv', encoding='utf-8')
    df_temp.to_excel(path_local+r'\bankdata_'+str(i[0])+'_'+i[1]+'_var.xlsx')
for i in [(2021, '06'), (2021, '09')]:
    df_temp = pd.read_excel(path_bankdata+r'\bankdata_'+str(i[0])+'_'+i[1]+'.xlsx')
    #df_temp = df_temp.dropna(subset=['14 Всего активов'])
    df_temp = df_var_202106(df_temp)
    df_temp = df_temp.dropna()
    df_temp.to_csv(path_local+r'\bankdata_'+str(i[0])+'_'+i[1]+'_var.csv', encoding='utf-8')
    df_temp.to_excel(path_local+r'\bankdata_'+str(i[0])+'_'+i[1]+'_var.xlsx')

# 4 Поправка на квартальный индекс потребительских цен (CPI)

In [16]:
# quarterly consumer price index (CPI) taken from Rosstat
df_CPI = pd.read_excel(path+r'\external_data\CPI_quarterly.xlsx', sheet_name='Q2Q', index_col='quarter')
df_CPI

         End Q to end Q  Q to Q  Q to last year Q
quarter
2005q1           105.27  105.09            113.09
2005q2           102.58  103.20            113.76
2005q3           100.57  101.15            112.67
2005q4           102.12  101.44            111.28
2006q1           104.98  104.67            110.84
...                 ...     ...               ...
2022q4           101.33  100.55            112.18
2023q1           101.67  101.92            108.62
2023q2           101.06  101.12            102.69
2023q3           101.79  101.47            105.15
2023q4           102.69  102.51            107.20

[76 rows x 3 columns]

In [17]:
def CPI_accumulate(df, df_CPI, col='Q to Q'):
    """ Function returns a CPI with column 'Q2Q_acc' that contains multipliers for df
    df_CPI.index must be quarter, df must contain column 'quarter'
    
    This is to correct the data compared to the initial time period in the given dataframe df
    """
    df_CPI_curr = df_CPI.loc[(df_CPI.index>=min(df['quarter'])) & (df_CPI.index<=max(df['quarter']))]
    
    cpi = 1
    cpi_acc = []
    for q in df_CPI_curr.index:
        if q==min(df_CPI_curr.index):
            cpi = 1
        else:
            #cpi *= np.array(df_CPI_curr.loc[df_CPI_curr.index == q]['Q to Q'])[0]/100
            cpi *= df_CPI_curr.at[q, col]/100
        cpi_acc.append(cpi)
    df_CPI_curr[col+' Acc'] = cpi_acc
    return df_CPI_curr

In [18]:
def to_real_values(df, df_CPI, col='Q to Q'):
    """Function returns data with nominal values corrected for CPI"""
    
    df_CPI_curr = CPI_accumulate(df, df_CPI, col)
    
    cols = ['Total_assets', 'Net_worth', 'Net_income', 'Loans',
       'Admin_expenses', 'Securities', 'Cash', 'Liabilities', 'NIE', 'NII',
       'II_Loans', 'IE_Deposits', 'Deposits', 'Pure_deposits', 'Sales', 'Safe_funds', 'Safe_funds_income']  
    
    for c in cols:
        for q in df_CPI_curr.index:
            for ind in df.loc[df['quarter']==q].index:
                df.at[ind, c] /= df_CPI_curr[col+' Acc'][q]
    return df

In [19]:
path_from = path + r'\var'
path_to = path + r'\var_real'

Панель с 2017-09 по 2021-09 (максимальная)

In [20]:
df = pd.read_excel(path+r'\var\bankdata_201709-202109_q_var.xlsx')
df = to_real_values(df, df_CPI)
df.to_excel(path+r'\var\bankdata_201709-202109_q_var_real.xlsx')
#df.to_csv(path+r'\var_real\bankdata_201709-202109_var_real.csv', encoding='utf-8')

## 5 Поправка на годовой индекс потребительских цен (CPI)

Prepare the reference dataframe with yearly CPI

In [21]:
def dates_to_years(dates):
    """An array of dates to format YYYY (2003-09-01 to 2003)"""
    years = []
    for date in dates:
        years.append(date.year)
    return years

In [22]:
def date_to_quarter(date):
    """Date to format YYYYqN (2003-09-01 to 2003q3)"""
    month_to_quarter = {1: 'q1', 2: 'q1', 3: 'q1',
                        4: 'q2', 5: 'q2', 6: 'q2',
                        7: 'q3', 8: 'q3', 9: 'q3',
                        10: 'q4', 11: 'q4', 12: 'q4'}
    quarter = str(date.year) + month_to_quarter[date.month]
    return quarter

In [23]:
# read the Rosstat data on quarterly CPI (Consumer price index)
df_CPI = pd.read_excel(path+r'\external_data\CPI_quarterly.xlsx', sheet_name='Q2Q', index_col='quarter')
#df_CPI

In [24]:
df_CPI['date'] = quarter_to_date(df_CPI.index)
df_CPI['year'] = dates_to_years(df_CPI['date'])
df_CPI

         End Q to end Q  Q to Q  Q to last year Q       date  year
quarter
2005q1           105.27  105.09            113.09 2005-01-01  2005
2005q2           102.58  103.20            113.76 2005-04-01  2005
2005q3           100.57  101.15            112.67 2005-07-01  2005
2005q4           102.12  101.44            111.28 2005-10-01  2005
2006q1           104.98  104.67            110.84 2006-01-01  2006
...                 ...     ...               ...        ...   ...
2022q4           101.33  100.55            112.18 2022-10-01  2022
2023q1           101.67  101.92            108.62 2023-01-01  2023
2023q2           101.06  101.12            102.69 2023-04-01  2023
2023q3           101.79  101.47            105.15 2023-07-01  2023
2023q4           102.69  102.51            107.20 2023-10-01  2023

[76 rows x 5 columns]

In [25]:
def yearly_cpi_accumulation(df, column):
    """Given data on quarter-to-quarter basis in a column, aggregate it into yearly data as geometric mean,
    i.e. use quarter to the same quarter of past year index for 4 quarters and get the geometric mean as an
    average inflation during the year
    
    df -- dataframe with CPI indices
    column -- the column name for CPI index
    """
    res = pd.DataFrame()
    for year in df['year'].unique():
        ind = 1
        count = 0
        for date in df.loc[df['year']==year]['date']:
            index = date_to_quarter(date)
            ind *= df.loc[df.index == index][column][index]
            count += 1
        ind = ind**(1/count)
        df_temp = pd.DataFrame({'year': [year], column: [ind], 'obs': [count]})
        res = pd.concat([res, df_temp], ignore_index = True)
        res.reset_index()
    return res

In [26]:
# dataset with yearly CPI index
df_CPI_yearly = yearly_cpi_accumulation(df_CPI, 'Q to last year Q')
df_CPI_yearly = df_CPI_yearly.groupby(['year']).mean()
df_CPI_yearly

      Q to last year Q  obs
year
2005        112.696337  4.0
2006        109.685389  4.0
2007        108.980338  4.0
2008        114.099294  4.0
2009        111.687674  4.0
2010        106.846404  4.0
2011        108.451093  4.0
2012        105.052770  4.0
2013        106.754304  4.0
2014        107.804001  4.0
2015        115.545699  4.0
2016        107.065893  4.0
2017        103.686994  4.0
2018        102.862989  4.0
2019        104.467794  4.0
2020        103.374910  4.0
2021        106.677365  4.0
2022        113.735444  4.0
2023        105.891355  4.0

In [27]:
def CPI_accumulate_yearly(df, df_CPI, col='Q to last year Q'):
    """ Function returns a CPI with column 'CPI_acc' that contains multipliers for df
    df_CPI.index must be year, df must contain column 'dt_year'
    
    This is to correct the data compared to the initial time period in the given dataframe df
    """
    df_CPI_curr = df_CPI.loc[(df_CPI.index>=min(df['dt_year'])) & (df_CPI.index<=max(df['dt_year']))]
    
    cpi = 1
    cpi_acc = []
    for year in df_CPI_curr.index:
        if year==min(df_CPI_curr.index):
            cpi = 1
        else:
            #cpi *= np.array(df_CPI_curr.loc[df_CPI_curr.index == q]['Q to Q'])[0]/100
            cpi *= df_CPI_curr.at[year, col]/100
        cpi_acc.append(cpi)
    df_CPI_curr[col+' Acc'] = cpi_acc
    return df_CPI_curr

In [28]:
def to_real_values_yearly(df, df_CPI_yearly, col='Q to last year Q'):
    """Function returns data with nominal values corrected for CPI, yearly data"""
    
    df_CPI_curr = CPI_accumulate_yearly(df, df_CPI_yearly, col)
    
    cols = ['Total_assets', 'Net_worth', 'Net_income', 'Loans',
       'Admin_expenses', 'Securities', 'Cash', 'Liabilities', 'NIE', 'NII',
       'II_Loans', 'IE_Deposits', 'Deposits', 'Pure_deposits', 'Sales', 'Safe_funds', 'Safe_funds_income']    
    
    for c in cols:
        for q in df_CPI_curr.index:
            for ind in df.loc[df['quarter']==q].index:
                df.at[ind, c] /= df_CPI_curr[col+' Acc'][q]
    return df

Панель 2017-2020 (максимальные годовые данные)

In [29]:
df = pd.read_excel(path+r'\var\bankdata_2017-2020_y_var.xlsx')

In [30]:
CPI_accumulate_yearly(df, df_CPI_yearly)

      Q to last year Q  obs  Q to last year Q Acc
year
2017        103.686994  4.0              1.000000
2018        102.862989  4.0              1.028630
2019        104.467794  4.0              1.074587
2020        103.374910  4.0              1.110853

In [31]:
df = to_real_values_yearly(df, df_CPI_yearly)
df.to_excel(path+r'\var\bankdata_2017-2020_y_var_real.xlsx')
#df.to_csv(path+r'\var\bankdata_2017-2020_var_real.csv', encoding='utf-8')